.nav {
  width: 10%;
  height:100px;
  background-color: blue;
  float: left;
}

div div {
  text-decoration:none;
  color: red;
  font-size: 20px;
}

/* Broken, needs fixing
tr:hover {
  background: lilac !important; 
}
tr:hover td { 
  background: transparent; 
}
*/

.row {
  float: right;
  width: 90%;
  height:100px;
  background-color:green;
}

.sender {
  margin-left:30px;
}

.subject {
  margin-left:110px;
}

.date {
  margin-left: 300px;
}

.message {

}
