.nav {
  width: 10%;
  height:100px;
  background-color: blue;
  float: left;
}

div div {
  text-decoration:none;
  color: red;
  font-size: 20px;
}


table {
  text-align: center;
  background-color: yellow;
  color: black;
}

tr:hover {
  color: red;
}
