.nav {
  width: 10%;
  height:60px;
  background-color: gray;
  text-decoration:none;
  color: black;
  float: left;
}

.row active{
  background-color: lilac;
}

table {
  float: right;
  width: 90%;
  text-align: center;;
}
